extends layout

block content
	.type-section
		h4.result-lead-in Your type is
		h1.headline-result= headline_result.short
		h2.result-subtitle The #{headline_result.tagline}
	for result,index in results
		.metric-section.container(style="background-color:" + headline_result.color_scheme[index % headline_result.color_scheme.length])
			.metric-section-inner
				- label_div_class = (index%2 == 0) ? "left" : "right"
				.label-div(class= label_div_class)
					h1.dimension-label #{test.metrics[index][binary_results[index]].short}
				.description-div
					- var descriptors = ["Slight", "Moderate", "Strong"]
					- var ind = 0;
					- if (result > test.threshold.med) { ind = 1 }
					- if (result > test.threshold.high) { ind = 2 }
					- console.log(ind)
					h2.dimension-headline #{descriptors[ind]} preference for #{test.metrics[index][binary_results[index]].noun} (#{Math.round(result,0)}%)
					p.dimension-description #{test.metrics[index][binary_results[index]].descriptions[ind]}

block packages
	link(rel='stylesheet', href='/stylesheets/results.css')